$violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: url(/images/bg-mobile.svg) $violet;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.logo {
  height: 2rem;
  text-align: left;
  margin-top: 1rem;
  margin-left: 2rem;

  &__img {
    height: 100%;
  }
}

.hero {
  margin-top: auto;

  &__illustration {
  
    &-img {
      height: 25vh;
      width: auto;
    }
  }
  
  &__text {
    grid-area: text;
    margin: 1rem 2rem;
    
    &-header {
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    &-p {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.9rem;
      line-height: 1.7;
    }
  
    &-btn {
      padding: 0.8rem;
      width: 75%;
      margin-top: 1.5rem;
      border-radius: 20px;
      border: none;
      font-family: 'Open Sans', sans-serif;
      color: $violet;
      cursor: pointer;
      transition: all 0.5s ease;
  
      &:hover {
        background-color: $magenta;
      }
    }
  }
}

.socials {
  margin-top: auto;
  margin-bottom: 1.5rem;

  &__icon {
    padding: 0.5rem;
    border: 1px #fff solid;
    border-radius: 50%;
    margin: 0.5rem;
    transition: all 0.5s ease;

    &:first-child {
      padding: 0.5rem 0.7rem;
    }

    &:hover {
      color: $magenta;
      border: 1px solid $magenta;
    }    
  }
}


@media (min-width: 800px) {
  body {
    text-align: left;
    background: url(/images/bg-desktop.svg) $violet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin: 0 auto;
    width: 80%;
    max-width: 1300px;
    display: flex;
    
  }

  .logo {
    &__img {
      height: 7vh;
      margin-top: 2rem;
    }
  }

  .hero {
    display: flex;
    align-items: center;

    &__illustration {
      flex: 1;

      &-img {
        width: 40vw;
        height: auto;
        margin-right: 1.5rem;
      }
    }
  
    &__text {
      flex: 1;
      max-width: 30vw;
      margin: auto;
  
      &-header {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      &-p {
        margin-bottom: 2rem;
        font-size: 1rem;
      }
  
      &-btn {
        width: 12rem;
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .socials {
    align-self: flex-end;
    margin-bottom: 3rem;

    &__icon {
      font-size: 1.5rem;
    }
  }
}